@pathimg: "../images/";
@pathfont: "../fonts/";


@principal-color: #CEEAF0;
@secondary-color: #E2CCAF;
@third-color: #D5D39C;
@four-color: #F3CD85;

@aux-color: #ec9a4c;


@new-color1: #F3CD85;

@font-1: 'AvenirBold', Arial, Helvetica;
@font-2: Helvetica, Arial, "Lucida Grande", sans-serif;
@font-3: 'AvenirRegular', Arial, Helvetica;
